@{
}
<div class="container">
    <h2 class="text-center m-4">سبد خرید شما :)</h2>
    <div class="row">
        <div class="col-md-8">
            @foreach (var item in ViewBag.Products)
            {
                <div class="card m-2 d-inline-block" style="width: 15%;">
                    <a asp-area="" asp-controller="Home" asp-action="ProductDetail" asp-route-productId="@item.Id"><img src="@item.ImageUrl" class="card-img-top" alt="..."></a>
                    <div class="card-body text-center">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">قیمت : @item.Price</p>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <p>مجموع : <span id="sum"></span></p>
            @if (ViewBag.Products.Count != 0)
            {
                <button class="btn btn-outline-success"><a class="text-white" asp-area="Customer" asp-controller="Customer" asp-action="ClearFactor" asp-route-customerId="@ViewBag.User.Id">نهایی کردن سبد خرید</a></button>
            }
        </div>
    </div>
</div>

@*<script type="text/javascript">
    window.onload = function() {
        var sum = 0;
        var list = @ViewBag.Products;
        list.forEach(product => {
            sum += parseFloat(product.Price);
        });
        document.getElementById(".SumPrice").html(sum);
    }
</script>*@
<script>
    window.onload = function() {
        var products = @Html.Raw(Json.Serialize(@ViewBag.Products));
        var sum = 0;
        for (var i = 0; i < products.length; i++) {
            sum += parseFloat(products[i].price);
        }
        document.getElementById("sum").innerHTML = sum;
    };
</script>



