@model App.Domain.Core.Entities.SalesMan
@{
}

<div class="container">
    <form id="form" asp-area="SalesMan" asp-controller="SalesMan" asp-action="EditProfile" class="form-control">
        <label asp-for="UserName"></label>

        <input asp-for="UserName" type="text" value="@Model.UserName" class="form-control input-group round" readonly/>
        <br/>

        <label asp-for="FirstName"></label>

        <input asp-for="FirstName" class="form-control input-group round" value="@Model.FirstName"/>
        <br/>

        <label asp-for="LastName"></label>

        <input asp-for="LastName" class="form-control input-group round" value="@Model.LastName"/>
        <br/>

        <label asp-for="Email"></label>

        <input asp-for="Email" class="form-control input-group round" value="@Model.Email"/>
        <br/>

        <label asp-for="Address"></label>

        <input asp-for="Address" class="form-control input-group round" value="@Model.Address"/>
        <br/>

        <label asp-for="BirthDate"></label>

        <input asp-for="BirthDate" type="datetime" class="form-control input-group round" value="@Model.BirthDate"/>
        <br/>

        <label asp-for="PhoneNumber"></label>

        <input asp-for="PhoneNumber" class="form-control input-group round" value="@Model.PhoneNumber"/>
        <br/>

        <label asp-for="CardNumber"></label>

        <input asp-for="CardNumber" class="form-control input-group round" value="@Model.CardNumber"/>
        <br/>

        <label asp-for="ShebaNumber"></label>

        <input asp-for="ShebaNumber"  class="form-control input-group round" value="@Model.ShebaNumber"/>
        <br/>
        
        <label asp-for="Wage"></label>

        <input asp-for="Wage"  class="form-control input-group round" disabled/>
        
        <input asp-for="RegisterDate" type="datetime" hidden value="@Model.RegisterDate"/>
        
        <button type="submit" class="btn btn-blue btn-round">submit</button>

    </form>
</div>