@model List<App.Domain.Core.Entities.Product>

<div class="container">
    <div class="row">
        <h2 class="text-center">محصولات</h2>
        @foreach (var item in Model)
        {
            <div class=" card w-25 h-100 m-5">
                <a asp-controller="Home" asp-action="ProductDetail" asp-route-productId="@item.Id"><img class="rounded-circle rounded-end-5 rounded-start-5 small w-50 h-50" src="@item.ImageUrl"/></a>
                <h4 class="text-center">@item.Name</h4>
                @if (item.IsConfirmed)
                {
                    <a asp-area="Admin" asp-controller="Admin" asp-action="EditProduct" asp-route-productId="@item.Id" class="btn btn-outline-success">ویرایش</a>
                    <br/>
                    <a class="btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="DeleteProduct" asp-route-productId="@item.Id">حذف</a>
                    <br/>

                }
                else
                {
                    <a asp-area="Admin" asp-controller="Admin" asp-action="ConfirmProduct" asp-route-productId="@item.Id" asp-route-confirmed="true" class="btn btn-outline-success">تایید</a>
                    <br/>
                    <a class="btn btn-outline-info" asp-area="Admin" asp-controller="Admin" asp-action="ConfirmProduct" asp-route-confirmed="false" asp-route-productId="@item.Id">رد</a>
                    <br/>
                }
            </div>
        }
    </div>
</div>
